@charset "UTF-8";
/* CSS Document */

body {
	background-color: #fbf5e7;font-family: meno-banner, serif;

font-weight: 300;

font-style: normal;
	margin: 0; 
	padding: 0;
	
}
 
header { 
background-color: antiquewhite;
padding: 10px; 
	text-align: center;
	
}

header .logo a {
	background-image: url("images/logo200.png");
	background-size: 300px;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	height: 120px;
	text-indent: -9999999999px;
	width: 800px;
	top: -20px;
	bottom: -20px; 

	
}

hr {
  display: block;
	width: 100%;
  border-style: thin;
  border-width: 100%;
	border-color: black;
}


.featureheader {
	padding-left: 70px;
	margin: 0;
	background-color: #f8edd3;
	top: -20px; 
	
	
}

div {background-color: clear;
	width: 100px;
	height: 20 px;
	margin: auto;
	
}

.ul {
	margin: 0;
	padding-top: 10px;
	list-style-type: none;
	 
	
}


li {
	display: inline-block;
	margin: 20px;
	

	
}

section {
	background-color: burlywood;
	padding: 20 px;
	display: flex;
	flex-direction: row;
	
}

.video .videotext {
	
	margin:auto;
}

/* FEATURES */

.features {
  background: #f8edd3;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.features figure {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: 1000px;
}

.features figure img {
  border: 1px solid white;
  width: 300px;
}

.form {
padding: 10px; 
	margin: 20px; 
	
	
}


footer {background-color: cornsilk;
padding: 0px;
	margin: 0;
	text-align: center;

}

