@charset "UTF-8";
/* CSS Document */
*{box-sizing: border-box;
}


@media screen and (max-width: 800px) {
  .container-1, .container-2, .container-6, .container-5 {   
    flex-direction: column;
	  
  }
}

@media screen and (max-width: 800px) {
  .container-1, .box1, .box2, .box3, .box4 {   
    flex-direction: column;
	  
  }
}






body {
	background-color: #fbf5e7;font-family: meno-banner, serif;

font-weight: 300;

font-style: normal;
	margin: 0; 
	padding: 0;
	
}
 
header { 
background-color: antiquewhite;
padding: 10px; 
	text-align: center;
	
}


hr {
  display: block;
	width: 100%;
  border-style: thin;
  border-width: 100%;
	border-color: black;
}

.header1 {
	text-align: left;
	padding-left: 50px;
	}

.navbar {
	display: flex; 
	flex-wrap: wrap;
	flex-direction: row; 
	
	
}

.menu {
	justify-content: flex-end;
}

.logotype {
	justify-content: flex-start;
}

.container-1 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 10px;
}

.container-1 div{ 
	border: 1px; 
	padding: 10px;
	flex-wrap: wrap; 
}

.box1 {
	flex: 1;
	
	flex-wrap: wrap;
}

.box2 {
	flex-wrap: wrap;
	flex: 1; 

}

.box3 {
     flex-wrap: wrap;
	flex: 1;
}

.box4 {
	flex: 1; 
	flex-wrap: wrap;
}



.container-2 {
	display: flex;
	justify-content: space-evenly;
}

.container-2 div{
	text-align: center; 
	padding-top: 80px; 
	padding-bottom: 60px; 
	
}

.box5 {
	flex: 1;
	flex-basis: 50%;
}

.box6 {
	flex: 1;
	flex-basis: 50%;
}


.container-3 {
	display: flex;
	justify-content: space-around;
}


.container-4 {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding-top: 80px;
}




.container-5 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 50px; 
	padding-left: 100px; 
	padding-bottom: 50px;
}

.container-6 {background-color: cornflowerblue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.footer1{ 
	flex-direction: column;

}

.footer2 {
	padding-top: 15px; 
	padding-right: 20px; 
	
}

.ul {
	margin: 0;
	padding-top: 10px;
	list-style-type: none;
	 
	
}


li {
	display: inline-block;
	margin: 20px;
}


.video .videotext {
	
	margin:auto;
}





